<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
</head>
<body style="text-align: center;">
    <header>
        <div style="position: absolute; top: 10px; left: 10px;">
            <h3>Hi, {{ name }}!</h3>
        </div>
    </header>

    <h1>Zoldyck</h1>
    <p>
        Zoldyck is an advanced application that connects you with premium detective services. Our expert team provides solutions from in-depth investigations to rapid case resolutions and strategic sabotage, all crafted to solve mysteries with high efficiency.
    </p>
    <h1>dibuat oleh</h1>
    <p>{{ nama }}</p>
    <h1>npm</h1>
    <p>{{ npm }}</p>
    <h1>dari kelas</h1>
    <p>{{ kelas }}</p>
    
    <section>
        <h2>Daftar Layanan Detektif Keluarga Zoldyck</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            {% for service in services %}
            <div style="border: 1px solid #000; padding: 10px; margin: 10px; width: 200px;">
                <h3>{{ service.name }}</h3>
                <p>{{ service.description }}</p>
                <button onclick="showDetails('{{ service.name }}', '{{ service.service }}', '{{ service.experience }}', '{{ service.price }}', '{{ service.rating }}', '{{ service.category }}', '{{ service.stock }}', '{{ service.additional_experience }}')">Details</button>
            </div>
            {% endfor %}
        </div>
    </section>

    <script>
        function showDetails(name, service, experience, price, rating, category, stock, additional_experience) {
            alert(`Name: ${name}\nService: ${service}\nExperience: ${experience}\nPrice: Rp ${price}\nRating: ${rating} / 5\nCategory: ${category}\nStock: ${stock} services available per month\nAdditional Experience: ${additional_experience}`);
        }
    </script>
</body>
</html>
